{% extends "flashcard_app/base.html" %}
{% block content %}

<form action="." method="POST">
  {% csrf_token %}

  <div class="mb-3 d-flex align-items-start justify-content-between">
    <h2>Create a new flashcard deck</h2>
  
    <!-- <button type="submit" class="btn btn-primary">Create <i class="fas fa-arrow-right"></i></button> -->
  </div>

  <div class="mb-3">
    <div class="row">
      <div class="col">
        <label for="name" class="form-label">Name</label>
        <input required class="form-control" type="text" id="name" name="name" placeholder="Enter a title, like &quot;Databases - Module 6: DB Design&quot;">
      </div>
      <div class="col">
        <label for="course" class="form-label">Course</label>
        <select class="form-select" id="course" name="course" required>
          {% for course in courses %}
            <option value="{{ course.id }}">{{ course.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>  
  </div>
  
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" id="description" name="description" rows="3" placeholder="Add a description..."></textarea>
  </div>

  <div class="mb-5 float-end">
    <button type="submit" class="btn btn-primary">Create <i class="fas fa-arrow-right"></i></button>
  </div>
</form>

{% endblock content %}
